@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Poppins&display=swap'); 
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 162px;
    
}
.container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.button{
    display: flex;
    align-items: center;
}
.button button{
    background: white;
    color: black;
    width: 147px;
    height: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    margin-right: 44px;
}
.gauche p{
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.81);
}
.button a{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}
.button a img{
    margin-right: 15px;
}
.droite{
    display: flex;
    flex-direction: column;
}
.droite a{
    margin-bottom: 7px;
}
.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 826px;
    top: 183px;
    border: 1px dashed #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle a{
    color: white;
}
.size span{
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}
.Scircle{
    border-radius: 50%;
    background: #FFFFFF;
    color: black;
    height: 36px;
    width: 36px;
}
.button span{
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 52px;
}
.medaille{
    position: relative;
    left: -157px;
    top: -302px;
}
.Cgauche{
    display: flex;
    flex-direction: row-reverse;
}