.main{ 
    margin-left: 60px;
    margin-top: 21px;
    margin-right: 60px;
    display: flex;
}
@media screen and (max-width: 1196px) {
    .main{ 
        margin-left: 18px;
        margin-top: 12px;
        margin-right: 18px;
        display: flex;
        flex-direction: column;
    }
}