@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); 
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.logo p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 54px;
    color: #FFFFFF;
}
.logo p::before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/logo.png") no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.navigation ul li{
    list-style: none;
}
.navigation ul li a{
    text-decoration: none;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.81);
    margin-left: 44px;
}
.navigation ul li a:hover{
    text-decoration: underline;
    color: white;
}
.menu::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 12px;
    background: url("../../images/Vector 1.png") no-repeat;
    vertical-align: middle;
    margin-right: 96px;
}
.button button{
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 20px;
}
.button ul  .first button{
    background: black;
    color: white;
    width: 100px;
    height: 40px;
}
.button ul .last button{
    background: white;
    color: black;
    width: 118px;
    height: 40px;
}