@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Poppins&display=swap'); 
.about{
    background: url(../../images/bg.png);
    height: 465px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
    padding-left: 200px;
}
.liste li{
    list-style: none;
    
}
.liste h2{
    padding-bottom: 50px;
}
.liste a{
    text-decoration: none;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.81);
}
.liste a:hover{
    text-decoration: underline;
    color: white;
}
.underlist{
    display: flex;
    align-items: center;
}
.facebook::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../images/facebook.png") no-repeat;
    vertical-align: middle;
    margin-right: 22px;
    margin-top: 76px;
}
.twitter::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../images/twitter.png") no-repeat;
    vertical-align: middle;
    margin-right: 22px;
    margin-top: 76px;
}
.linkedin::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../../images/linkedin.png") no-repeat;
    vertical-align: middle;
    margin-right: 22px;
    margin-top: 76px;
}
.Footer{
    display: flex;
    align-items: center;
    background: white;
    color: black;
    justify-content: center;
    height: 50px;
}
