@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&family=Poppins&display=swap'); 
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: #000000;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
h1{
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 900;
  font-size: 65px;
  line-height: 130%;
}